---
import { Image } from 'astro:assets';
import CE from '../../images/CollegeAdvice/CE.webp';
import CS from '../../images/CollegeAdvice/CS.jpg';
import IT from '../../images/CollegeAdvice/IT.jpg';
import '../../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/database.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>College Advice</title>
	</head>
	<body>
		<article class="grid">
			<h1 style="text-align: center;">Computer Engineering, Computer Science, and Information Technology: Which is right for you?</h1>
			<p class="main">September 26, 2023</p>
		</article>
        <div>
            <h4>COMPUTER ENGINEERING</h4>
			<Image src={CE} alt="computer engineering" width={350}/>
            <p>Of the three, this course is the closest to Electrical Engineering, as this will teach you the ins and outs of computer hardware, circuitry, and interaction between software and hardware systems.</p>
            <ul>
                <li><b>Emphasis on Hardware: </b>this is typically where you design and analyze processors, motherboards, and other electrical components necessary to build a functioning computer. Examples of these are GPU, CPU, motherboards, RAM, and hard drives (hdd/ssd).</li>
                <li><b>Circuit Design: </b>this is where you develop skills in making efficient and stable electronic systems, down to the individual transistors and other electrical components. For students, their first exposure to this maybe the <b>Arduino </b>(microcontroller) and <b>Raspberry Pi </b>(microprocessors/single-board-computer).</li>
                <li><b>Level Programming: </b>when one calls a programming language "low-level", the software interacts with the hardware itself. While programming languages normally only interact with the operating system and software, this type of language can control every part of a computer, down to its electronic components. Well known low-level languages are: C, Java, Rust, Fortran, and Assembly.</li>
            </ul>
            <br>

            <h4>COMPUTER SCIENCE</h4>
			<Image src={CS} alt="computer science" width={350}/>
            <p>This course is highly theoretical and reliant mostly on mathematics and logic. Computer Science is a very broad course that covers a wide range of topics; from software development, game development, and app development to algorithms, data science, and data structures.</p>
            <ul>
                <li><b>Theory and Mathematics: </b>CS places a strong emphasis on the science behind computing and how software runs and works.</li>
                <li><b>Programming: </b>within this course, you will be introduced to the fundamentals of different programming languages and the different operations required to create a full and working program. While you will usually hear that Python is the most popular beginner language, most institutions will have you learn C or Java first as they will instill key concepts and habits into your software code to make them run efficiently.</li>
                <li><b>Algorithms: </b>is a procedure for performing data computations, allowing one to automatically perform inhuman calculations on large data sets at a large scale. This field is particularly useful in AI, research, finance, and other areas where complex computations need to be performed every day.</li>
            </ul>
            <br>

            <h4>INFORMATION TECHNOLOGY</h4>
			<Image src={IT} alt="information technology" width={350}/>
            <p>A field that focuses on the practical application of technology in a corporate/business environment. IT professionals act as the ones who bridge the gap between normal users/workers and evolving complex technological systems of an organization, critical for day-to-day business operations.</p>
            <ul>
                <li><b>IT Support: </b>- on-demand support for individuals or groups who are not technically-inclined. Their tasks range from simple installation of a web browser, and application crashes to hardware troubleshooting and IT resouce management.</li>
                <li><b>Business and Management: </b>IT professionals require firm communication skills and understanding of how to align the technology with business objectives/models. Strategic implementation of new or existing technology to the workoffice. Negotiate contracts, evaluate performance and value of third-party services, and ensuring that services meet the agreed-upon service-level agreement. The highest corporate position of this field is the Chief Technology Officer (CTO).</li>
                <li><b>System<span class="highlight">d</span> Administration: </b>particularly manage and administer servers, employee work machines, software, network, and security of a building, department, or organization. This field performs a large scope of tasks that range from trivial router setups, newly-employed worker account creation, and server-client connection to database administration, service hosting, data backup and recovery, system and network security, and maintenance/monitoring.</li>
            </ul>
            <br>

            <h4>PERSONAL ADVICE</h4>
            <ul>
                <li>While choosing one of these three and picking that specific course is ideal, for IT it is usually necessary to have a Bachelor's in computer science for more job opportunities, unless you have years of experience with the employers current technologies and years of experience as an IT.</li>
                <li>IT is still a very secure job as while most organizations dont employ software development or the like, IT is more than likely an already existing department within the organization because most organizations in the 21st century are using some form of technology; whether it be printers, internet, or a simple website server.</li>
                <li>All 3 courses are definitely more of the "learn it on your own" type. Technology is rapidly evolving and we can't expect all institutions to catch-up and update their curriculum, hence it is important to keep yourself updated and keep learning outside of these institutions. In addition, professors will most likely teach you the fundamentals but it will be up to you to go further and understand the more advanced topics and details.</li>
            </ul>
            <br>
        </div>
	</body>
</html>

<!-- <style>
    .highlight {
    color: rgb(39, 39, 39); /* or any other dark shade of color you prefer */
    }
</style> -->
