---
import { Image } from 'astro:assets';
import component from '../../images/hpmini/component.png';
import diagram from '../../images/hpmini/diagram.png';
import solution from '../../images/hpmini/solution.png';
import '../../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/database.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>HP Mini 210</title>
	</head>
	<body>
		<article class="grid">
			<h1 style="text-align: center;">HP Mini 210 Repair</h1>
			<p class="main">July 27, 2024</p>
		</article>
        <div>
            <h4>INTRODUCTION</h4>
			<p>I bought this HP Mini 210 from a friend a while back and didn't do much with it. After thinking, I thought I wanted to use this as a backup computer for running untested software, opening USB drives, and general things I wouldn't want to do on my computer that can't run on a virtual machine. The mechanism that the laptop uses for powering on is a 4-pin switch that was so flimsy, that the plastic lever broke just from trying to turn it on.</p>
			<Image src={component} alt="switch 1" width={352} height={231}/>
			<p>So I was going to try and figure out how the switch works and then solder on a new switch.</p>
			<br>

			<h4>PROBLEM</h4>
			<p>... Unfortunately, I ripped out the solder pads of the switch, so I was left with trying to figure out which points I needed to connect to boot. I tried looking at just the PCB itself and checking with a voltmeter on what is connected to what. I didn't get anywhere with that.</p>
			<p>I then found the link for the <a href="https://drive.google.com/file/d/0B6IqcVTk0jpYUU15aHNhVVY1Njg/view?pli=1&resourcekey=0-s-D8E1wNN2MpZCRTyJN2Qw" target="_blank" rel="noopener noreferrer">schematics</a> of the board ...I had no idea what I was looking at and was so clueless about where to start.</p>
			<br>

			<h4>SOLUTION</h4>
			<p>I had found this page that included the diagram for the power switch.</p>
			<Image src={diagram} alt="schematic diagram" width={352} height={231}/>
			<p>I wasn't confident that I understood the connections properly, just based on the schematics. So I started to scrape the board to reveal the copper connections underneath to help me better understand it.</p>
			<p>After scraping away a good chunk, I found some copper contacts and then randomly connected two points, and it worked. The laptop booted.</p>
			<p>I decided it was better to not try to solder a new switch and will from now on just use a jumper wire to connect the two points.</p>
			<Image src={solution} alt="solution" width={352} height={231}/>

        </div>
	</body>
</html>