---
import { Image } from 'astro:assets';
import baseboard from '../../images/Keychron/baseboard.png';
import jades from '../../images/Keychron/jades.png';
import milky from '../../images/Keychron/milky.png';
import numpad from '../../images/Keychron/numpad.png';
import whites from '../../images/Keychron/whites.png';
import '../../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/database.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Keychron K6 pro</title>
	</head>
	<body>
		<article class="grid">
			<h1 style="text-align: center;">My Keyboard: Keychron K6 pro</h1>
			<p class="main">April 29, 2024</p>
		</article>
        <div>
            <h4>INTRODUCTION INTO THIS RABBIT HOLE</h4>
			<p>I was first introduced to mechanical keyboards when my classmate decided to show off his keyboard at a product presentation in an English class. His keyboard was some Royal Kludge keyboard that had MX Brown Switches. Before this, all the keyboards I had ever experienced were membrane keyboards, so the sound that the Royal Kludge keyboard made blew me away.</p>
			<p>I ended up buying a Fantech MK853, which was a full-sized keyboard with some blue switches. To me at the time, it sounded the best. It was nice to type on and had a loud audible sound to it. I loved the keyboard. But I delved deeper into the mechanical keyboard rabbit hole.</p>
			<p>I started immersing myself in the hobby, watching YouTube videos and YouTubers, joining the r/MechanicalKeyboards subreddit, and listening to the sounds of keyboards. I wanted more from my keyboard.</p>
			<br>

			<h4>THE BASE KEYBOARD</h4>
			<p>The Keychron brand was what I decided to go with. It had a reputation among the community as the sort of "golden standard" but had some quality control issues. While I did think about buying from Royal Kludge, I wanted something more premium since Royal Kludge was a sort of "budget" brand.</p>
			<p>There were 2 products that Keychron focused on, the Q series and the K series. Then there were also variants of it, such as the Q pro and K pro. The Q and Q pro series were the flagship products of Keychron and had the prices to match that, which made me opt for the K lineup. When deciding between the K and K pro, the 2 main differences between the two were the aluminum frame and the ability to reprogram the keyboard with QMK/Via. The ability to reprogram the keyboard made me interested in the K pro series.</p>
			<p>The size of the keyboard was a bit hard for me to choose. I first thought that I didn't need a numpad for now. Then I had to decide whether I used the full navigation keys (print screen, delete, page down, etc). Afterward, it was down to the function keys, which left me with the K2 or the K6. Unfortunately, the shop I was going to buy from didn't have the K2 which made me get the K6 pro RGB.</p>
			<Image src={baseboard} alt="baseboard" width={352} height={231}/>
			<br>

			<h4>THE SWITCHES</h4>
			<p>My old keyboard (the MK853) had clicky switches and I saw that most builds were made with linear switches, so that drove me to try and get the best linear switches I could get my hands on.</p>
			<p>Gateron Milky Yellows are considered the best budget switches and they sounded good from the builds I found that used them, so I got a pack of 100 just to be on the safe side.</p>
			<Image src={milky} alt="milky" width={352} height={200}/>
			<p>At some point, I decided to try going back to clicky switches since the linear switches weren't doing it for me despite how good they sounded. They just didn't feel as good to type on. I heard great things about the Kailh Box Jades and tried them. My god were they amazing. They sounded ten times better than blue switches, only at the cost of being harder to type on. Another reason why I wanted clicky swtiches was because of how they don't need mods. Modding linear switches was an absolute nightmare.</p>
			<Image src={jades} alt="jades" width={352} height={250}/>
			<p>Later on, I stumbled upon some Kailh Box Whites and they felt nicer to type on than the Jades because they needed less force to be pressed. Currently, these are the switches I use daily and I don't plan on switching anytime soon.</p>
			<Image src={whites} alt="whites" width={352} height={210}/>
			<br>

			<h4>THE MODS</h4>
			<p>Keyboard</p>
			<ul>
			  <li>Durock Screw-in V2 stabilizers soulmate mod (Smokey with Gold Wire)</li>
			  <li>Kapton (Polyimide) tape</li>
			</ul>
			<p>Keycaps</p>
			<ul>
				<li>Double-Shot Cherry profile Dark Olivia PBT Keycaps (no longer being used)</li>
				<li>Spacebar Sound Insulation Foam</li>
			</ul>
			<p>Gateron Milky Yellows (no longer being used)</p>
			<ul>
			  <li>Krytox 205g0 Lube</li>
			  <li>Durock Switch Films</li>
			</ul>
			<p>Kailh Box Jades (no longer being used)</p>
			<ul>
			  <li>No mods</li>
			</ul>
			<p>Kailh Box Whites</p>
			<ul>
			  <li>No mods</li>
			</ul>	
			<br>

			<h4>SOUND TEST OF MY CURRENT KEYBOARD</h4>
			<p><i>Keychron K6 pro with Kailh Box White, spacebar foam mod, stabilizers mod, and Kapton tape mod</i></p>
			<audio controls preload="auto" src="/final.mp3">Your browser does not support HTML5 audio</audio>
			<br>

			<h4>SOUND TEST OF MY OLD CUSTOMIZATIONS</h4>
			<p><i>Fantech MK853 with blue switches</i></p>
			<audio controls preload="auto" src="/fantech.m4a">Your browser does not support HTML5 audio</audio>
			<p><i>Keychron K6 pro out-of-box with MX red switches</i></p>
			<audio controls preload="auto" src="/red.m4a">Your browser does not support HTML5 audio</audio>
			<p><i>Keychron K6 pro with Gateron Milky Yellows (lube and film modded), spacebar foam mod, stabilizers mod, and Olivia keycaps </i></p>
			<audio controls preload="auto" src="/milky.m4a">Your browser does not support HTML5 audio</audio>
			<p><i>Keychron K6 pro with Kailh Box Jades, spacebar foam mod, and stabilizers mod</i></p>
			<audio controls preload="auto" src="/jades.m4a">Your browser does not support HTML5 audio</audio>
			<br>

			<h4>ADDITIONAL EXTERNAL NUMPAD</h4>
			<p>I missed having a numpad mainly due to typing in IP addresses for my home network and typing in numbers into my finance spreadsheets.</p>
			<p>I was quite satisfied with Keychron, so I bought the q0 from them.</p>
			<p>Right now I am using this keyboard as a numeric keypad, a macro pad, and a pad for controlling media.</p>
			<Image src={numpad} alt="numpad" width={300} height={356}/>
        </div>
	</body>
</html>
