---
import { Image } from 'astro:assets';
import samnote3 from '../../images/RootNote3/samnote3.png';
import menu from '../../images/RootNote3/menu.png';
import applyfrom from '../../images/RootNote3/applyfrom.png';
import sideload from '../../images/RootNote3/sideload.png';
import terminal from '../../images/RootNote3/terminal.png';
import additional from '../../images/RootNote3/additional.png';
import signa from '../../images/RootNote3/signa.png';
import install from '../../images/RootNote3/install.png';
import termux from '../../images/RootNote3/termux.png';
import root from '../../images/RootNote3/root.png';
import '../../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/database.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Root the Note 3</title>
	</head>
	<body>
		<article class="grid">
			<h1 style="text-align: center;">Rooting the Samsung Note 3</h1>
			<p class="main">March 9, 2024</p>
		</article>
        <div>
            <h4>1. INTRODUCTION</h4>
			<p>The Samsung Note  3 was released in 2013, making it nearly 11 years old at the time  of this post. Unfortunately, the Note 3's Android version only went up to Android 5.0 (Lollipop). Those who wish to continue using this phone as a secondary device are left with security vulnerabilities and outdated features. Luckily, this phone has an unlockable bootloader.</p>
			<Image src={samnote3} alt="samsung note 3" width={164} height={278}/>
			<p>In my case, my current daily driver is an iPhone, which left me wanting to have a secondary Android phone to have the best experience. To combat the outdated Android version, I decided to install lineage OS v18.1 (Android 11). <i>UPDATE: LineageOS no longer maintains this device. You are now required to make your own updated builds of LineageOS or use other ROMs. UPDATE 2: TimSchumi, a LineageOS team member, is hosting an <a href="https://lineage-archive.timschumi.net/" target="_blank" rel="noopener noreferrer">unofficial archive</a> of the last LineageOS builds of unmaintained devices. It is possible to verify them using this <a href="https://f-droid.org/en/packages/com.abcdjdj.rootverifier/" target="_blank" rel="noopener noreferrer">guide</a> by the LineageOS wiki.</i></p>
			<p>The reason I decided to root my phone was honestly just because I wanted more control over it. I have no specific use for a rooted phone right now, but I thought that I might as well do it.</p>

			<h4 style="margin-top: 50px;">2. REQUIREMENTS</h4>
			<ul>
				<li>Computer with ADB tools</li>
				<p>Android Debug Bridge (adb) is a tool that is developed and provided by Google for developers to configure and debug their software on Android phones. <a href="https://www.xda-developers.com/install-adb-windows-macos-linux/" target="_blank" rel="noopener noreferrer">Installation and instructions</a> can be found at XDA.</p>
				<li>Magisk</li>
				<p><a href="https://github.com/topjohnwu/Magisk/releases" target="_blank" rel="noopener noreferrer">Magisk</a> is a popular free and open-source software for rooting Android devices.</p>
				<li>Android Phone</li>
				<p>Most Android phones will work. A Samsung phone that ships with Android 8 and above out-of-the-box will require a different method from the one show here; instructions for newer Samsung phones are available in the official Magisk documentation.</p>
			</ul>

			<h4 style="margin-top: 50px;">3. PROCEDURES</h4>
			<ol>
			  <li>Reboot into recovery mode. Hold the Power button until the restart option pops up. Then, once it shows a black screen, press 'Volume UP + HOME + Power' at the same time.</li>
			  <Image src={menu} alt="lineageOS recovery menu" width={305} height={208}/>
			  <li>Apply update with ADB. Once booted into LineageOS recovery mode, press:
			    <ul>
			      <li>Apply Update.</li>
				  <Image src={applyfrom} alt="apply from adb" width={278} height={114}/>
			      <li>Apply from ADB.</li>
			  	  <Image src={sideload} alt="adb sideload" width={278} height={73}/>
			    </ul>
			  </li>
			  <li>Connect your phone to your computer with a cable.</li>
			  <li>On your computer, open a terminal application (PowerShell [Windows] or Bash [Linux]) in the directory where the Magisk APK file is located.</li>
			  <li>Type <code>adb sideload Magisk-v27.0.apk</code>.</li>
			  <Image src={terminal} alt="adb sideload Magisk-v.27.0.apk" width={323} height={43}/>
			  <li>On your phone, LineageOS recovery will display "Signature verification failed. Install anyway," which simply means LineageOS does not officially recognize that software. Hit 'Yes'.</li>
			  <Image src={signa} alt="signature failed"/>
			  <li>The installation will indicate when it has finished. Once it does finish, please go back to the main settings and press 'Reboot system now'.</li>
			  <li>Once your phone has rebooted, you will see a Magisk app on your home screen. When pressing on the app, it will ask you to download it. Allow it to download.</li>
			  <Image src={install} alt="install magisk" width={306} height={165}/>
			  <li>Once downloaded, it will ask you to go through 'Additional Setup'. Press 'OK'.</li>
			  <Image src={additional} alt="additional" width={306}/>
			  <li>Your phone has now been rooted. To verify if it is rooted, there are two simple options:
			    <ul>
			      <li>Open any app that can ask for root privileges: In a terminal, typing <code>su root</code> or <code>su</code> will ask the system if it can grant itself root access.</li>
			  	  <Image src={termux} alt="termux" width={227} height={156}/>
			      <li>Install a Root Verification app such as <a href="https://f-droid.org/en/packages/com.abcdjdj.rootverifier/" target="_blank" rel="noopener noreferrer">Root Verifier</a>.</li>
			  	  <Image src={root} alt="verify root" width={227} height={293}/>
			    </ul>
			  </li>
			</ol>


			<h4 style="margin-top: 50px;">4. CONGRATULATIONS! Your phone has now been rooted</h4>
			<p>Once rooted, you can now reap the benefits of a rooted phone.</p>
			<p>Such as:</p>
			<ul>
			  <li>Full control over the system</li>
			  <li>Full system backup</li>
			  <li>System-wide adblocking</li>
			  <li>Changing system fonts</li>
			  <li>Enhanced customization of system, software, and aesthetics</li>
			  <li>Access to all files</li>
			  <li>And so much more!</li>
			</ul>
        </div>
	</body>
</html>
