---
import { Image } from 'astro:assets';
import diagram from '../../../images/homelab/diagram01.png';
import server from '../../../images/homelab/server.jpg';
import '../../../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/database.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Homelab: A New Beginning with a Pi</title>
	</head>
	<body>
		<article class="grid">
			<h1 style="text-align: center;">Homelab: A New Beginning with a Pi</h1>
			<p class="main">July 21, 2024</p>
		</article>
        <div>
            <h4>INTRODUCTION</h4>
			<p>I've never had a proper homelab before, only some Ubuntu server running on an old laptop that had its battery removed. I never did proper documentation and didn't have the infrastructure automated.</p>
			<p>I recently bought a used Raspberry PI 4B (4gb) from a friend and thought it would be a good time to start making a proper homelab.</p>
			<p>I used Ansible to automate the setup and deployment of services while using markdown as the documentation. They are available at this Gitlab repository: <a href="https://gitlab.com/jeiya/homelab" target="_blank" rel="noopener noreferrer">jeiya/homelab</a></p>
			<br>

            <h4>INFRASTRUCTURE</h4>
			<ul>
				<li>I used Ansible for the setup automation because I was most familiar with it</li>
				<li>I wanted to use Debian ARM64 for the operating system but decided against it because Raspberry Pi OS is Debian-based and includes utilities specifically designed for Raspberry Pi, such as firmware updates.</li>
				<li>I had used docker because most self-hosted software supports it. However, most also don't use rootless Docker images. I wanted to use Podman but didn't have the time to convert the services into rootless Podman containers and test them.</li>
				<li>Nginx Reverse Proxy Manager tutorials are readily available, making it ideal. In the future though, I plan to move to Traefik because it can be configured through the configuration file.</li>
				<li>I like Adguard and their products, so I chose Adguard Home over Pi-hole.</li>
				<li>Heimdall fits my needs, but I will probably replace it with something else in the future.</li>
			</ul>
			<br>

            <h4>DIAGRAM</h4>
			<Image src={diagram} alt="diagram01" width={360}/>
			<br>

            <h4>PHYSICAL SERVER</h4>
			<Image src={server} alt="server" width={360}/>
			<p>The switch I am using here is a TP-Link sg108E which is a managed (WebUI) switch. It's a budget switch that doesn't offer PoE but it's enough for my current use case.</p>
			<br>


			<h4>TROUBLES</h4>
			<ul>
			  <li><strong>Backup and Restoration Challenges:</strong>
				<p>Difficulty in emulating a Raspberry Pi OS for testing led to using <code>dd</code> with <code>zstd</code> compression for creating and restoring backups:</p>
				<p><strong>Backup Command:</strong></p>
				<code>
				  sudo dd if=/dev/sdX | zstd > ~/mount/src/rpi_snapshot1.img.zst
				</code>
				<p><strong>Restore Command:</strong></p>
				<code>
				  zstd -d --stdout ~/mount/src/rpi_snapshot1.img.zst | sudo dd of=/dev/sdX bs=4M
				</code>
			  </li>
			  <br>
			  <li><strong>Port Configuration Issues:</strong>
				<p>Nginx Reverse Proxy Manager would not work for me if I didn't use their default ports.</p>
				<p>Adguard Home also had the same issue when trying to move the dashboard port to something other than 8080.</p>
			  </li>
			</ul>
			<br>

            <h4>FUTURE PLANS</h4>
			<ul>
				<li>Use vlans for better network security</li>
				<li>Use the gpio of the SBC servers for a physical poweroff dp switch</li>
				<li>Setup libre computer SBC for Zerotier or Tailscale, Gitea, Samba file sharing, SSH jump server</li>
			</ul>
        </div>
	</body>
</html>

