---
import { Image } from 'astro:assets';
import install from '../../../images/win2k22/install.png';
import staticIP from '../../../images/win2k22/staticIP.png';
import '../../../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/database.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Windows Server Administration</title>
	</head>
	<body>
		<article class="grid">
			<h1 style="text-align: center;">Windows Administration: Windows Server Core 2022</h1>
			<p class="main">November 1, 2024</p>
		</article>
        <div>
            <h4>INTRODUCTION</h4>
            <p>Okay so, the original plan for the homelab was to use Proxmox as the Linux distro for the n95 mini pc. I changed my mind after being in the college computer labs for a bit.</p>
            <p>So I was in the lab learning some cybersecurity, when the seniors started doing an activity for Windows Server 2019. And I thought “Huh, they teach Windows server rather than Linux servers. A lot of these tasks in Windows AD are ones I’m not familiar with doing”. I then added “Learning Windows Administration” to the list of skills I need to learn.</p>
            <p>This weekend I installed Windows Server Core 2022. Windows Server 2019’s End of Server Life (EOSL) was January 9 this year and I wasn’t about to get the extended server life, which prompted me with the 2022 edition which ends on 2026 giving me enough time to learn.</p>
            <p>I was thinking between which to learn between Windows Server Core and Windows Server Desktop, and ultimately chose Core. Desktop seems to need higher system requirements than the Core version. My prior experience with Linux servers, give me enough confidence to configure Windows Server Powershell. Lastly, I hear that Windows likes to change their UI/UX in Azure’s Admin page which doesn’t give me much trust they won’t change things. But, windows Powershell will stay stable in Windows. So Core it is.</p>
            <p>My strategy for learning Windows Server Core is to just make a list of things I need to setup/do and then keep searching and reading documentation until I do it. If I run out of things to search, I’ll use youtube playlists and also the MCSA certification reviewer materials.</p>
			<br>

            <h4>RESOURCES</h4>
            <ul>
                <li><a href="https://learn.microsoft.com/en-us/windows-server/" target="_blank" rel="noopener noreferrer">Windows Server documentation</a></li>
                <li><a href="https://www.youtube.com/playlist?list=PL542p0YcPLEso-KkplRc0b-ldgzp3oVe5" target="_blank" rel="noopener noreferrer">Microsoft Windows Server 2022 Setup by Danny Moran</a></li>
            </ul>
			<br>

            <h4>LEARNING PATH</h4>
            <ul>
                <li>[ x ] Install Microsoft Windows</li>
                <li>[ x ] Setup Static IPv4 Address</li>
                <li>[ x ] Do a Manual Update</li>
                <li>[ x ] Setup OpenSSH-Server</li>
                <li>[ x ] Setup OpenSSH Key-based Authentication</li>
                <li>[ x ] Change OpenSSH Default Shell to Powershell</li>
                <li>[    ] Setup LAPS</li>
                <li>[    ] Disable Admin Account</li>
                <li>[    ] Notify when Admin Account is used</li>
                <li>[    ] Setup Active Directory Server</li>
                <li>[    ] Samba Server</li>
                <li>[    ] Certificate Authority</li>
                <li>[    ] Radius</li>
                <li>[    ] DHCP Server</li>
                <li>[    ] DNS Server</li>
                <li>[    ] Setup VPN</li>
                <li>[    ] Domain Controller</li>
                <li>[    ] Windows Admin Center</li>
                <li>[    ] Role Based Access Controls</li>
                <li>[    ] Make a Network Bridge</li>
                <li>[    ] Ansible</li>
                <li>[    ] Hyper-V</li>
                <li>[    ] Windows Backups</li>
                <li>[    ] Group Policies and Automation</li>
                <li>[    ] Deploy Client Computer with Windows and have it join my Domain</li>
                <li>[    ] Learn General Best Practices</li>
            </ul>
			<br>
        </div>
	</body>
</html>

