---
import { Image } from 'astro:assets';
import result from '../../../images/wood001/IMG_1143.png';
import '../../../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/database.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>WoodWorking: First Project</title>
	</head>
	<body>
		<article class="grid">
			<h1 style="text-align: center;">Woodworking: First Project</h1>
			<p class="main">July 15, 2024</p>
		</article>
        <div>
            <h4>INTRODUCTION</h4>
			<p>Welp... I decided to try woodworking.</p>
			<p>So, I was working on my homelab but then soon realized I was running out of space to place my single board servers.</p>
			<p>My first Idea was to use a cardboard box since I've seen many others do it.</p>
			<p>The box, although condensed them, still didn't make enough room. So I decided to make a tower of sorts made from wood because why not.</p>
			<br>

            <h4>MATERIALS</h4>
			<ul>
				<li>3/4 Thick Goodlumber</li>
				<li>Wood Glue</li>
				<li>Sand Paper</li>
				<li>Centro Plastic Varnish (C-01 Natural)</li>
				<li>Nails</li>
			</ul>
			<br>

            <h4>TOOLS</h4>
			<ul>
				<li>Block Planer</li>
				<li>Crosscut Saw</li>
				<li>C-Clamp</li>
				<li>Quick Clamp</li>
				<li>X-Acto Knife</li>
				<li>Pencil</li>
				<li>Combination Square</li>
			</ul>
			<br>

            <h4>REFLECTION</h4>
			<ul>
				<li><b>Tools you buy don't come ready out of the box:</b> the combination square I was using was not perfectly straight and needed some sanding. It was only after I cut the pieces did I realize the marking wasn't exactly right.</li>
				<br>
				<li><b>It's hard to make a flat surface:</b> the crosscutting saw I used wobbled a lot and my form wasn't correct. Even when I had placed markings and made shallow kerfs, it was still hard to make it cut straight. Not to mention, my block planer which had tuned incorrectly had led to imperfect surfaces. <b>Next time</b>, I should try marking with a pencil, using a knife to cut it, using a chisel to deepen the cuts, and then cutting with a backsaw by moving only my shoulder.</li>
				<br>
				<li><b>Plan on how to clamp pieces:</b> during the process of gluing the cut pieces, I realized that the clamps I was using were not up to the task. I first tried to glue the back beam with the base, which should have been done with a corner clamp, with normal quick clamps. The result: the whole piece ended up being slanted to the front.</li>
				<br>
				<li><b>Have extra wood for spacers:</b> when I was gluing the middle plate, it was very hard to keep it straight and centered. I couldn't even use clamps to set it straight because the outer beams were already placed and stopped the clamps from providing the right grip to the middle plate. <b>Also</b>, just having extra wood is handy.</li>
				<br>
				<li><b>Nails:</b> when putting nails at an angle, periodically check them if they end up sticking out of the wood.</li>
				<br>
				<li><b>Be very careful with using varnish:</b> they are dangerous chemicals and need proper handling. Never add too much varnish to one surface. Have smooth strokes with your vanish-coated brush. With your brush, be slow and start from the tip then pressing down harder as you go. Dip the brush deep in the varnish.</li>
			</ul>
			<br>

			<h4>RESULT</h4>
			<Image src={result} alt="result" width={360}/>
        </div>
	</body>
</html>

