---
import { Image } from 'astro:assets';
import result from '../../../images/wood003/penHold.jpg';
import '../../../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/database.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>WoodWorking: Pen Holder</title>
	</head>
	<body>
		<article class="grid">
			<h1 style="text-align: center;">Woodworking: Pen Holder</h1>
			<p class="main">August 25, 2024</p>
		</article>
        <div>
            <h4>INTRODUCTION</h4>
			<p>I was trying to make a phone holder but ended up ruining it. With the leftover wood, I decided to make a pen holder. I did not bother with making it look good or planned out, since it was a spur-of-the-moment thing. Turned out better than I thought it would.</p>
			<br>

            <h4>MATERIALS</h4>
			<ul>
				<li>3/4 Thick Kiln Dried Wood</li>
				<li>Wood Glue</li>
				<li>Sand Paper</li>
			</ul>
			<br>

            <h4>TOOLS</h4>
			<ul>
				<li>Block Planer</li>
				<li>Crosscut Saw</li>
				<li>Knife</li>
				<li>Pencil</li>
				<li>Combination Square</li>
				<li>4 in 1 Chisel Set</li>
				<li>Mallet</li>
			</ul>
			<br>

            <h4>REFLECTION</h4>
			<ul>
				<li><b>Measure Twice, Cut Once:</b> I thought of making one of the boards a bit longer, that way I would just remove the excess afterwards. Turns out, it was going to be really hard to remove the excess, so I just decided to keep it as an "aesthetic".</li>
			</ul>
			<br>

			<h4>RESULT</h4>
			<Image src={result} alt="penHold" width={360}/>
        </div>
	</body>
</html>

