---
import { Image } from 'astro:assets';
import result from '../../../images/wood002/mallet.jpg';
import '../../../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/database.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>WoodWorking: Mallet</title>
	</head>
	<body>
		<article class="grid">
			<h1 style="text-align: center;">Woodworking: Mallet</h1>
			<p class="main">July 21, 2024</p>
		</article>
        <div>
            <h4>INTRODUCTION</h4>
			<p>I keep seeing on Youtube that mallets are what woodworking courses and classes make first. I don't know why that is, but I can certainly see the benefits of a mallet.</p>
			<p>A wooden mallet is useful for tasks that need softer impacts than a metal hammer, such as chiseling.</p>
			<br>

            <h4>MATERIALS</h4>
			<ul>
				<li>3/4 Thick Goodlumber</li>
				<li>Wood Glue</li>
				<li>Sand Paper</li>
				<li>Electrical Tape</li>
			</ul>
			<br>

            <h4>TOOLS</h4>
			<ul>
				<li>Block Planer</li>
				<li>Crosscut Saw</li>
				<li>C-Clamp</li>
				<li>Quick Clamp</li>
				<li>X-Acto Knife</li>
				<li>Pencil</li>
				<li>Combination Square</li>
				<li>4 in 1 Chisel Set</li>
				<li>Hammer</li>
			</ul>
			<br>

            <h4>REFLECTION</h4>
			<ul>
				<li><b>Work on the handle before placing it on the mallet:</b> I was checking if my handle fit inside my mallet and afterward, I could not get it out. I had to chisel and hand the handle while it was attached.</li>
			</ul>
			<br>

			<h4>RESULT</h4>
			<Image src={result} alt="mallet" width={360}/>
        </div>
	</body>
</html>

