---
import { Image } from 'astro:assets';
import '../../../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/database.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>BSIT: Getting Started</title>
	</head>
	<body>
		<article class="grid">
			<h1 style="text-align: center;">BSIT: Getting Started</h1>
			<p class="main">December 26, 2024</p>
		</article>
        <div>
            <h4>INTRODUCTION</h4>
            <p>This blog post is aimed at freshman starting their learning path towards their first semester of Information and Communication Technology. These are compiled and simplified list of resources and materials for those who want a head start in studying.</p>
            <br>

            <h4>RESOURCES</h4>
            <p><a href="https://adoptium.net/temurin/releases/" target="_blank" rel="noopener noreferrer">Eclipse Temurin</a> - Java has many different distributors such as oracle, azul systems, and eclipse. Adoptium Java by Eclipse Temurin is one of the more popular ones. Pick your operation system (windows/linux), pick your architecture (x64), pick your package type (jdk), and then pick your version (21 - LTS).</p>
            <p><a href="https://www.jetbrains.com/idea/download/" target="_blank" rel="noopener noreferrer">IntelliJ IDEA Ultimate</a> - the standard IDE (Integrated Development Environment) for enterprise level Java development. You get a free subscription using your BulSU email but IntelliJ IDEA Community is also available for free. Also to be noted that the university recommends Netbeans, but most students I know had less trouble with other IDEs.</p>
            <p><a href="https://eclipseide.org/" target="_blank" rel="noopener noreferrer">Eclipse IDE</a> - an alternative to IntelliJ IDEA.</p>
            <p><a href="https://github.com/" target="_blank" rel="noopener noreferrer">Github</a> - Microsoft-owned developer platform for creating, sharing, storing, and managing public and private code.</p>
            <p><a href="https://desktop.github.com/download/" target="_blank" rel="noopener noreferrer">Github Desktop</a> - desktop application for Github.</p>
            <p><a href="https://app.diagrams.net/" target="_blank" rel="noopener norferrer">DrawIO</a> - flowchart/diagram maker.</p>
            <br>

            <h4>LEARNING MATERIALS AND ACTIVITIES</h4>
            <p><a href="https://youtu.be/xk4_1vDrzzo?" target="_blank" rel="noopener noreferrer">Java Full Course for free</a> - 11:59:59 long youtube video</p>
            <p><a href="https://youtu.be/HxFO-8xKij8?">How to Create Programming Flowchart | ALGORITHM AND FLOWCHART</a> - 4:14 long youtube video</p>
            <p><a href="https://www.youtube.com/watch?v=HkdAHXoRtos" target="_blank" rel="noopener noreferrer">Git It? How to use Git and Github</a> - 6:07 long youtube video</p>
            <br>

            <h4>NOTES FROM A SENIOR</h4>
            <h6>What are the materials covered for 1st semster?</h6>
            <ul>
                <li>Program Development (Terminologies)</li>
                <li>Logic Formulation (Flowcharts)</li>
                <li>Program Control (Flowcharts)</li>
                <li>Java Language (Syntax/Structure, user input, variables, operations)</li>
                <li>Selection Structures (If/Else, switch)</li>
                <li>Control Structures (For Loop and While loop)</li>
                <li>Modular Programming (Classes and Methods)</li>
            </ul>

            <h6>FINAL OUTPUT</h6>
            <p>For your final output, you are to make a program and a powerpoint along with it. The program will be assigned to you and will range from easy to hard. The powerpoint will be used for your program's defense. The powerpoint should not contain any code, but instead the description of what happens with and in the program.</p>

            <h6>GENERAL SUBJECTS</h6>
            <p>Truthfully, the major subjects are easy... compared to the general education subjects. Those subjects will eat you alive with the amount of work they make you do. Be prepared, and watch out for the not-so-good professors.</p>

            <h6>PERSONAL NOTES</h6>
            <p>If you actually want to get good at IT and not fall behind on lessons, you need to study on your own and advance by yourself. It's not like high school where everything is available in the lecture or powerpoints. From my exeperience, the people who excelled in programming were the ones who had prior programming experience, or were learning programming in their time outside of school.</p>
            
        </div>
	</body>
</html>

