---
import { Image } from 'astro:assets';
import '../../../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/database.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About Jeiya</title>
	</head>
	<body>
		<article class="grid">
			<h1 style="text-align: center;">About</h1>
			<p class="main">April 29, 2024</p>
		</article>
        <div>
            <h4>About this Website</h4>
            <p>This website servers as a platform to display my projects, ideas, and thoughts on random matters but mostly about technology and my hobbies</p>
            <br>

            <h4>Interests</h4>
            <ul>
				<li>Homelab</li>
				<li>Linux</li>
				<li>FOSS</li>
				<li>Programming</li>
            </ul>
        </div>
	</body>
</html>
