---
import { Image } from 'astro:assets';
import '../../../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/database.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Jeiya Socials</title>
	</head>
	<body>
		<article class="grid">
			<h1 style="text-align: center;">Socials</h1>
			<p class="main">July 2, 2024</p>
		</article>
        <div>
            <h4>Socials</h4>
            <ul>
			    <li>LinkedIn - <a href="https://www.linkedin.com/in/joseph-ericson-aniag-432a24325/" target="_blank" rel="noopener noreferrer">Joseph Ericson Aniag</a></li>
			    <li>Gitlab - <a href="https://gitlab.com/jeiya" target="_blank" rel="noopener noreferrer">jeiya</a></li>
			    <li>Github - <a href="https://github.com/jeiyanet" target="_blank" rel="noopener noreferrer">jeiyanet</a></li>
			    <li>Twitter - <a href="" target="_blank" rel="noopener noreferrer"></a></li>
			    <li>Youtube - <a href="https://www.youtube.com/@jeiyatech" target="_blank" rel="noopener noreferrer">jeiyatech</a></li>
			    <li>Reddit - <a href="" target="_blank" rel="noopener noreferrer"></a></li>
            </ul>
        </div>
	</body>
</html>
