html {
    background-color: #0d0d0d;
    font-family: 'Roboto', sans-serif;
}

body {
    margin-right: 20rem;
    margin-left: 20rem;
}

@media screen and (max-width: 390px) {
    body {
        margin-right: 16px;
        margin-left: 16px; 
    }
}

* {
    color: #D9D9D9;
    font-size: large;
}


h1.main {
    color: #A66868;
    font-size: x-large;
    overflow: hidden;
    text-align: center;
    border-bottom: #6c666e solid 4px;
    height: 60px;
    width: 100%;
}

h1 {
    color: #A66868;
    font-size: x-large;
}

h5 {
    text-align: center;
}

disc {
    text-align: center;
}

.grid {
    display: grid;
    place-items: center;
}

p.main {
    overflow: hidden;
    text-align: center;
    border-bottom: #6c666e solid 4px;
    height: 60px;
    width: 100%;
}

.postlink {
    text-decoration: none;
}