---
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/database.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Jeiya's Blog</title>
	</head>
	<body>
		<article class="grid">
			<h1 class="main">HOME</h1>
			<h3>Jeiya's Random Assortment of Blogs</h3>
			<h5 class="disc">Hear me blog about anything that I am interested or take part in</h5>
		</article>
		<div>
			<h1>Pinned</h1>
			<ul>
				<li><a href="/posts/pinned/About/" class="postlink" class="postlink">ABOUT</a></li>
				<li><a href="/posts/pinned/Socials/" class="postlink">Socials</a></li>
			</ul>
		</div>
		<div>
			<h1>IT</h1>
			<ul>
				<li><a href="/posts/IT/homelab001/" class="postlink">Homelab: A New Beginning with a Pi</a></li>
				<li><a href="/posts/IT/win2k22/" class="postlink">Windows Administration: Windows Server Core 2022</a></li>
			</ul>
		</div>
		<div>
			<h1>Posts</h1>
			<ul>
				<li><a href="/posts/ErgonomicKeyboards/" class="postlink">Ergonomic Keyboards</a></li>
				<li><a href="/posts/HPMini210Repair/" class="postlink">HP Mini 210 Repair</a></li>
				<li><a href="/posts/KeychronK6Pro/" class="postlink">My Keyboard: Keychron K6 Pro</a></li>
				<li><a href="/posts/RootNote3/" class="postlink">Rooting the Samsung Note 3</a></li>
				<li><a href="/posts/CollegeAdvice/" class="postlink">The 3 Big College Computer Courses</a></li>
			</ul>
		</div>
		<div>
			<h1>WoodWorking</h1>
			<ul>
				<li><a href="/posts/wood/wood001/" class="postlink">WoodWorking: First Project</a></li>
				<li><a href="/posts/wood/wood002/" class="postlink">WoodWorking: Mallet</a></li>
				<li><a href="/posts/wood/wood003/" class="postlink">WoodWorking: Pen Holder</a></li>
			</ul>
		</div>
		<div>
			<h1>Notes</h1>
			<ul>
				<li><a href="/posts/notes/BSIT" class="postlink">BSIT: Getting Started</a></li>
			</ul>
		</div>
	</body>
</html>
